<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yinlu.system.dashboard.mapper.SysRoleMenuMapper">

    <resultMap id="BaseResultMap" type="com.yinlu.system.dashboard.model.SysRoleMenu">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="role_id" column="role_id" jdbcType="BIGINT"/>
            <result property="menu_id" column="menu_id" jdbcType="BIGINT"/>
            <result property="create_by" column="create_by" jdbcType="VARCHAR"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="last_update_by" column="last_update_by" jdbcType="VARCHAR"/>
            <result property="last_update_time" column="last_update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,role_id,menu_id,
        create_by,create_time,last_update_by,
        last_update_time
    </sql>
</mapper>
