<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yinlu.system.generator.mapper.MysqlMapper">
  <select id="tables" resultType="com.yinlu.system.generator.pojo.dto.MysqlTableInfo">
    SELECT *
    FROM INFORMATION_SCHEMA.COLUMNS
  </select>
  <select id="getByDBNameAndTableName"
    resultType="com.yinlu.system.generator.model.MysqlTableField">
    SELECT COLUMN_NAME,
           COLUMN_TYPE,
           DATA_TYPE,
           EXTRA,
           COLUMN_KEY,
           IS_NULLABLE,
           COLUMN_COMMENT,
           TABLE_NAME,
           ORDINAL_POSITION
    FROM information_schema.COLUMNS
    WHERE TABLE_SCHEMA = #{tableSchema}
      AND TABLE_NAME = #{tableName};
  </select>
  <select id="listToTable" resultType="com.yinlu.system.generator.model.TableName">
    select table_name as 'TABLE_NAME' from information_schema.tables where table_schema=#{sourceName}
  </select>

</mapper>