<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yinlu.system.generator.mapper.MysqlMapper">
  <select id="tables" resultType="com.yinlu.system.generator.model.MysqlTableInfo">
    SELECT * FROM INFORMATION_SCHEMA.COLUMNS
  </select>
</mapper>